WEB_PORT=3000
MATCH_API_PORT=3001
ANALYTICS_API_PORT=5055
CATALOG_API_PORT=8081

MONGO_DATABASE=DynamicDatabase
POSTGRES_DB=static_database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

UPSTREAM_TIMEOUT_MS=10000
APP_SEED_DATA=true
